micronaut:
  application:
    name: balance
  server:
    port: 8282
    cors:
      enabled: true

datasources:
  default:
    url: jdbc:postgresql://localhost/postgres
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver

jpa:
  default:
    packages-to-scan:
      - 'br.com.accenture.wallet.balance.domain'
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true